{% load static %}{%load crispy_forms_tags %}
<html>

<head>
    <title>Add Certification Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <!-- For Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'AllStyles/ListStyling.css' %}">
    <link rel='stylesheet' href="{% static 'AllStyles/Modal-Styling.css' %}">
    <link rel='stylesheet' href="{% static 'AllStyles/BtnGroup.css' %}">
</head>
<style>
    * {
        box-sizing: border-box;
    }
</style>

<body>
    {% include 'resumes/AllTemplates/Navbar.html' %}
    <div class="Content-sty">
        <div class="container">
            <div class='row'>
                <div id='Obj-Detail' class='col-lg-8 col-md-7'>
                    <div class='display-container'>
                        <div class='Model-Form-Detail'>
                            <div class='Modal-Heading'>Certification Details</div>
                            <div class='Add-Modal-Details'>
                                <button onclick="document.getElementById('PopUp-Form').style.display='block'" class="btn btn-primary AddBtn-Sty"><i class='fa fa-plus'></i> Add Certification Details</button>
                            </div>
                            <div id='PopUp-Form' class='modal-sty'>
                                <div class='modal-content card-content'>
                                    <header class="head-sty ">
                                        <span onclick="document.getElementById('PopUp-Form').style.display='none'" class="btn btn-primary head-btn-sty"><i class="fa fa-close"></i></span>
                                        <h2 class='hsty'>Add Certification Details</h2>
                                    </header>
                                    <div class="form-content">
                                        <form action="" method="post">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="id_Certification_Type">Certification Type:</label>
                                                <div class="input-group mb-3">
                                                    <select class='custom-select' name="Certification_Type" required id="id_Certification_Type">
                                                    <option value="" selected>CERTIFICATION TYPE</option>
                                                    <option value="ONLINE">ONLINE</option>
                                                    <option value="OFFLINE">OFFLINE</option>
                                                    </select>
                                                    <div class="input-group-append">
                                                        <label class="input-group-text" for="inputGroupSelect02">Options</label>
                                                    </div>
                                                </div>
                                                <span class="helptext">Enter Training Type</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="id_Certify_Org_Name">Certification Organization Name:</label>
                                                <input type="text" class='form-control' name="Certify_Org_Name" maxlength="500" required id="id_Certify_Org_Name">
                                                <span class="helptext">Enter Training organization Name</span>
                                            </div>
                                            <div class="form-group">
                                                <label for="id_Certify_Course_Name">Certification Course Name:</label>
                                                <input type="text" class='form-control' name="Certify_Course_Name" maxlength="200" required id="id_Certify_Course_Name">
                                                <span class="helptext">Enter Training Course</span>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="id_Certify_startDate">Certification StartDate:</label>
                                                    <input type="text" class='form-control' name="Certify_startDate" required id="id_Certify_startDate">
                                                    <span class="helptext">Training Start Date</span>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="id_Certify_EndDate">Certification EndDate:</label>
                                                    <input type="text" class='form-control' name="Certify_EndDate" required id="id_Certify_EndDate">
                                                    <span class="helptext">Training End Date</span>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="id_Certify_City">Certification City:</label>
                                                    <input type="text" class='form-control' name="Certify_City" maxlength="100" id="id_Certify_City">
                                                    <span class="helptext">Enter your Training City</span>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="id_Certify_State">Certify State:</label>
                                                    <input type="text" class='form-control' name="Certify_State" maxlength="200" id="id_Certify_State">
                                                    <span class="helptext">Enter Training State</span>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="id_Certify_ZipCode">Certify ZipCode:</label>
                                                    <input type="text" class='form-control' name="Certify_ZipCode" maxlength="100" id="id_Certify_ZipCode">
                                                    <span class="helptext">Enter ZipCode</span>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="id_Certify_Country">Certify Country:</label>
                                                    <input type="text" class='form-control' name="Certify_Country" maxlength="300" id="id_Certify_Country">
                                                    <span class="helptext">Enter your Training Country</span>
                                                </div>
                                            </div>
                                            <div class='form-group'>
                                                <label for="id_Certify_Description">Certify Description:</label>
                                                <textarea name="Certify_Description" class='form-control' rows="5" required id="id_Certify_Description">
                                                </textarea> <span class="helptext">Enter Training Description</span>
                                            </div>
                                            <div class='SubmitBtn-Sty'>
                                                <button type='submit' class='btn btn-primary submit-btn'>SUBMIT</button>
                                            </div>
                                        </form>
                                    </div>
                                    <footer class='Modal-foot-sty'>
                                        <div class='foot-sty'>@ RAJ RESUMES</div>
                                    </footer>
                                </div>
                            </div>
                            <div class='Obj-Modal-Content'>
                                {% for Cdet in CertifyDet %}
                                <div class='Obj-Content'>
                                    <div class='row'>
                                        <div class='col-lg-10 col-md-8 col-sm-8 col-8'>
                                            <div class='Obj-content-sty'>
                                                <div class='ldet'>Course: {{Cdet.Certify_Course_Name}}</div>
                                                <div class='sub-ldet'>Organization Name: {{Cdet.Certify_Org_Name}}</div>
                                            </div>
                                        </div>
                                        <div class='col-lg-1 col-md-2 col-sm-2 col-2'>
                                            <a href="{% url 'resumes:Edit-NoExpCertifications' Cdet.id %}"><img class='Icon-Sty' src="\media\Icons\Edit-Icon.png"></a>
                                        </div>
                                        <div class='col-lg-1 col-md-2 col-sm-2 col-2'>
                                            <a href="{% url 'resumes:NoExpDeleteCertificationDetails' Cdet.id %}"><img class='Icon-Sty' src="\media\Icons\Delete-Icon.png"></a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div id='Link-List-Menu' class='col-lg-4 col-md-5 col-sm-12'>
                    <div class='row-sty'>
                        <div class='Link-Menu'>
                            <div class="Vertical-Menu">
                                <a href="{% url 'resumes:NoExp-ContactDetails' %}" class='a-sty'>Contact Details</a>
                                <a href="{% url 'resumes:NoExp-PersonalDetails' %}" class='a-sty'>Personal Details</a>
                                <a href="{% url 'resumes:NoExp-SocialMediaDetails' %}" class='a-sty'>SocialMedia Details</a>
                                <a href="{% url 'resumes:NoExp-EducationDetails' %}" class='a-sty'>Education Details</a>
                                <a href="{% url 'resumes:NoExp-LanguageDetails' %}" class='a-sty'>Language Details</a>
                                <a href="{% url 'resumes:NoExp-SkillDetails' %}" class='a-sty'>Skill Details</a>
                                <a href="{% url 'resumes:NoExp-SoftSkillDetails' %}" class='a-sty'>SoftSkill Details</a>
                                <a href="{% url 'resumes:NoExp-StrengthWeakness' %}" class='a-sty'>Strength Weakness Details</a>
                                <a href="{% url 'resumes:NoExp-HobbieDetails' %}" class='a-sty'>Hobbie Details</a>
                                <a href="{% url 'resumes:NoExp-ActivityAchievements' %}" class='a-sty'>AwardAchievement Details</a>
                                <a href="{% url 'resumes:NoExp-ProjectDetails' %}" class='a-sty'>Project Details</a>
                                <a href="{% url 'resumes:NoExp-InterestDetails' %}" class='a-sty'>Interest Details</a>
                                <a href="{% url 'resumes:NoExp-TrainingDetails' %}" class='a-sty'>Training Details</a>
                                <a href="{% url 'resumes:NoExp-CertificationDetails' %}" class='active a-sty'>Certification Details</a>
                                <a href="{% url 'resumes:NoExp-SummaryDetails' %}" class='a-sty'>Summary Details</a>
                            </div>
                        </div>
                        <div class='Button-Menu'>
                            <div class='Op-Btn'>
                                <button id='Open-Btn' onclick="OpenFunc()" class='btn btn-primary'><i class="fax fa fa-arrow-down"></i></button></div>
                            <div class='Cls-Btn'>
                                <button id='Close-Btn' onclick='CloseFunc()' class='btn btn-primary'><i class="fax fa fa-arrow-up"></i></button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='Btn-Position'>
                <div class='Btn-Left'><a href="{% url 'resumes:AddNoExpCertifications' %}"><button class='btn btn-primary btn-sty btn-l'>REFRESH</button></a></div>
                <div class='Btn-Right'><a href="{% url 'resumes:NoExp-SummaryDetails' %}"><button class='btn btn-primary btn-sty btn-r'>NEXT DETAILS</button></a></div>
            </div>
        </div>
    </div>
    {% include 'resumes/AllTemplates/Footer.html' %}
</body>
<script>
    function OpenFunc() {
        var i, j;
        var ele = document.getElementsByClassName('a-sty');
        for (i = 0; i < ele.length; i++) {
            ele[i].style.display = "block";
        }
        document.getElementById('Close-Btn').style.display = 'block';
        document.getElementById('Open-Btn').style.display = 'none';
    }

    function CloseFunc() {
        var i, j;
        var clele = document.getElementsByClassName('a-sty');
        for (i = 0; i < clele.length; i++) {
            if (clele[i].classList.contains('active')) {
                clele[i].style.display = 'block';
            } else {
                clele[i].style.display = 'none';
            }
        }
        document.getElementById('Open-Btn').style.display = 'block';
        document.getElementById('Close-Btn').style.display = 'none';
    }

    function myFunction(x) {
        var i, j;
        if (x.matches) {
            var clele = document.getElementsByClassName('a-sty');
            for (i = 0; i < clele.length; i++) {
                clele[i].style.display = "block";
            }
            document.getElementById('Open-Btn').style.display = 'none';
            document.getElementById('Close-Btn').style.display = 'none';
        } else {
            var clele = document.getElementsByClassName('a-sty');
            for (i = 0; i < clele.length; i++) {
                if (clele[i].classList.contains('active')) {
                    clele[i].style.display = 'block';
                } else {
                    clele[i].style.display = 'none';
                }
            }
            document.getElementById('Open-Btn').style.display = 'block';
            document.getElementById('Close-Btn').style.display = 'none';
        }
    }
    var x = window.matchMedia("(min-width: 768px)")
    myFunction(x)
    x.addListener(myFunction)
</script>

</html>