<html>

<head>
    <title>Resume Points</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<style>
    .content {
        padding: 10px 5px 20px 5px;
    }
    
    .head-sty {
        color: orangered;
        font-weight: 650;
    }
    
    .Cont-Sty {
        padding: 5px 12px;
    }
    
    #image {
        line-height: 1.5em;
        list-style-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4621/treehouse-marker.png');
    }
    
    .Btn-Content {
        width: 100%;
        text-align: center;
    }
    
    .btn-sty {
        min-width: 50%;
        font-weight: 650;
    }
</style>

<body>
    {% include 'resumes/AllTemplates/navbar.html' %}
    <div class="content">
        <div class="container">
            <div class='Box-Content'>
                <h2 class='head-sty'>How to get impression by using Online Resume</h2>
                <div class='Cont-Sty'>Professional Resume is more important for landing in your dream job. This Resume document summarizes about the persons background, Skills, Education, Any Activity Achievements, SoftSkills, Training, Projects...etc.,
                    <span> This Resume will let the organizers to know whether you are suitable to the job or not. This Professional Resume will create a good impression, but unfortunately many dont know how make their resume so impressive. </span>
                    <span>So, We decided to help the user who in need to create an impressive professional resume with help of RajResumes.com. </span> </div>
                <div class='Cont-Sty'><span>This RAJRESUMES Site will take the details of the user and will not share anything as it may have some confidential details too.</span><span>By taking details, now user has to select the type of resume they want then according their choose the resume will be created in that style.</span>
                    <span>Well, As you see its clean and easy application to make a resume easily. This application allows users to download the resume without any watermark.</span></div>
            </div>
            <div class='Box-Content'>
                <h2 class='head-sty'>Making Online Resume with the help of pre-built features</h2>
                <div class='Cont-Sty'>This RAJRESUMES Site will help make a professional resume online in a few minutes using pre-built resume templates
                    <span> Whether you have any experience or fresher , our resume builder fulfills the needs of every job aspirant and thereby increases the chance of getting selected for the job.</span>
                    <span>So, Here you can make a resume for a job easily and effortlessly with clear instructions at every step to help you build a perfect professional resume.</span>
                </div>
                <div class='Cont-Sty'>Our resume templates are suitable for every type of job like marketing, teaching, Software, Banking..etc.,
                    <span>You have to SignUp to fill the details for the resume. Details will be saved in the server in the account of user name.You can access anytime just by loging into the previous account. So, This is an special advantage for this application.</span>
                    <span>We have different resume templates based on whether <a href="#">Experienced Templates</a> and <a href="#">No Experience Templates</a></span></div>
                <div>So, With the help of RAJRESUMES Site we can get templates for free.</div>
            </div>
            <div class='Box-Content'>
                <h2 class='head-sty'>Resume Making for Students</h2>
                <div class='Cont-Sty'>
                    <span>Our Resume Maker is useful for students with no work experience.</span>
                    <span>Students from any part of the world who have recently passed out from the college and looking to step into the professional world can also use this online resume builder.</span>
                </div>
                <div class='Cont-Sty'>
                    We provide simple resume templates for students to use. After passing out from college, many students start searching for jobs. For appearing for a job interview the main requirement is a well-formatted professional resume which many students fail to
                    create due to lack of guidance. Also, students do not have any formal work experience in the beginning. So, it make further more difficult for them to come up with the content for the resume.
                </div>
                <div class='Cont-Sty'>
                    Our free resume maker comes to the rescue of students in such a situation. RAJRESUMES Site is a free resume builder sites that provides resume templates for students that emphasize on education, GPA scores, awards/honors. So, we provide Step-by-step instructions
                    to help students in building a professional resume.
                </div>
                <div class='Cont-Sty'>
                    <span>For Students our main focus is Academic scores, projects, Trainings and achievements. We Choose these sections because while hiring students managers will have a brief look about these sections.
                        So, We include these section details in a very detailed manner.
                    </span>
                </div>
                <div class='Cont-Sty'>
                    Our online resume maker for students is extremely easy to use with detailed instructions given at each and every section. Our resume templates for students are built according to the industry standards by ensuring that the students enter the job market
                    with the best entry level resume.
                </div>
            </div>
            <div class='Box-content'>
                <h2 class='head-sty'>How can I make a resume online for free at RAJRESUMES?</h2>
                <div class='Cont-Sty'>
                    We know how much crucial a resume is for landing a job. It should not only be impressive but creative and well-formatted also.
                </div>
                <div class='Cont-Sty Ques-Sty'>How do I create a professional resume for free?</div>
                <div class='Cont-Sty'>
                    If you are looking for a creative resume maker online free for freshers, experienced or students, then you are at the right place. It is quite easy to make a resume at RAJRESUMES that too without spending any single ruppee money. It is the best free resume
                    builder and helps you to assist in making a complete resume in the format that hiring managers often look for. Here is what you need to do make a resume here:
                </div>
            </div>
            <div class='Box-Content'>
                <h2 class='head-sty'>How to Create a Resume?</h2>
                <div class='St-Sty'>Please follow the steps here</div>
                <div class='Cont-Sty'>
                    <ul id="image">
                        <li>Click on the Create Resume button to get started with our online resume maker. SignUp is compulsory.</li>
                        <li>Read the benefits and its uses in the section and its privacy policy conditions and Click Next</li>
                        <li>Check the resume based on Experience or No-Experience by clicking the button.</li>
                        <li>Fill all the details section to section Education, Skill, Training, Certification..etc.,</li>
                        <li>Fill each detail correctly and clearly. Remember, don’t ever lie on your resume. Lying in a resume in any manner can cost you later.</li>
                        <li>After Filling Details, Now select the template you wanted from list of templates.</li>
                        <li>That’s it! A professional resume is created in a matter of minutes. Now you are a step closer to your dream job with a perfectly designed resume.</li>
                    </ul>
                </div>
            </div>
            <div class='Benefit-Content'>
                <h2 class='head-sty'>Benefits of using our Online Resume Maker?</h2>
                <div class='Cont-Sty'>During a job interview, a resume is the first thing that a interviewer goes through. A interviewer takes an average of six seconds to accept or reject a resume. A poorly made resume creates a bad impression and lowers your chance of getting
                    selected in the interview. You should make sure that you have the right elements in your resume that recruiters often look for. A well-organized and well-formatted resume is a must to grab the attention of the hiring managers.
                </div>
                <div class='Cont-Sty'>
                    RAJRESUMES helps you create a perfect professional resume with the desired elements required in a resume. This online resume making is free for freshers, professionals, and for every other job aspirant. Many Years of experience has helped us to know what
                    recruiters generally look for in a resume. Our CV and resume builder is designed on the latest software technology that instantly generates a well-formatted resume for you to download. In short, you can make a resume and download it
                    for free. Here are some other benefits that this online resume builder offers:
                </div>
            </div>
            <div class='Benefit-Points'>
                <ul id='image'>
                    <li>Easy to use platform for resume building.</li>
                    <li>Mobile compatible resume maker.</li>
                    <li>Easy to customize templates.</li>
                    <li>More than 50 pre-built resume templates for students, freshers, and experienced.</li>
                    <li>Free resume maker with no cost of any type involved.</li>
                    <li>Easy editing, formatting of the sections.</li>
                    <li>Fully automated with suggestions at every step.</li>
                    <li>Resume saved online in the user account which makes it easy to update and download resume anytime and anywhere.</li>
                    <li>Personal data fully secured and protected.</li>
                    <li>No watermark of any type on the resume.</li>
                    <li>A resume can be shared online on job portals and with employers.</li>
                    <li>Also, it is the best free resume maker.</li>
                </ul>
            </div>
            <div class='Btn-Content'>
                <a href="{% url 'resumes:CheckExperiences' %}"><button class='btn btn-primary btn-sty'>NOW LET'S CREATE RESUME</button></a>
            </div>
        </div>
    </div>
    {% include 'resumes/AllTemplates/Footer.html' %}
</body>

</html>