{% load static %}{%load crispy_forms_tags %}
<html>

<head>
    <title>Add SocialMedia Links</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--BootStrap CSS or JS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <!-- For Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'AllStyles/ListStyling.css' %}">
    <link rel='stylesheet' href="{% static 'AllStyles/Modal-Styling.css' %}">
    <link rel='stylesheet' href="{% static 'AllStyles/BtnGroup.css' %}">
</head>
<style>
    * {
        box-sizing: border-box;
    }
</style>

<body>
    {% include 'resumes/AllTemplates/Navbar.html' %}
    <div class="Content-sty">
        <div class="container">
            <div class='row'>
                <div id='Obj-Detail' class='col-lg-8 col-md-7'>
                    <div class='display-container'>
                        <div class='Model-Form-Detail'>
                            <div class='Modal-Heading'>SocialMedia Details</div>
                            <div class='Add-Modal-Details'>
                                <button onclick="document.getElementById('PopUp-Form').style.display='block'" class="btn btn-primary AddBtn-Sty"><i class='fa fa-plus'></i> Add SocialMedia Details</button>
                            </div>
                            <div id='PopUp-Form' class='modal-sty'>
                                <div class='modal-content card-content'>
                                    <header class="head-sty ">
                                        <span onclick="document.getElementById('PopUp-Form').style.display='none'" class="btn btn-primary head-btn-sty"><i class="fa fa-close" style="font-size:32px"></i></span>
                                        <h2 class='hsty'>Add SocialMedia Details</h2>
                                    </header>
                                    <div class='form-content'>
                                        <form action='' method='post'>
                                            {% csrf_token %}{{form|crispy}}
                                            <div class='SubmitBtn-Sty'>
                                                <button type='submit' class='btn btn-primary submit-btn'>SUBMIT</button>
                                            </div>
                                        </form>
                                    </div>
                                    <footer class='Modal-foot-sty'>
                                        <div class='foot-sty'>@ RAJ RESUMES</div>
                                    </footer>
                                </div>
                            </div>
                            <div class='Obj-Modal-Content'>
                                {% for sddet in SkillDetails %}
                                <div class='Obj-Content'>
                                    <div class='row'>
                                        <div class='col-lg-10 col-md-8 col-sm-8 col-8'>
                                            <div class='Obj-content-sty'>
                                                <div class='ldet'>Skill Name: {{sddet.Skill_Name}}</div>
                                                <div class='sub-ldet'>Skill Percentage: {{sddet.Skill_Percentage}} %</div>
                                            </div>
                                        </div>
                                        <div class='col-lg-1 col-md-2 col-sm-2 col-2'>
                                            <a href="{% url 'resumes:Edit-ExpSkillDetails' sddet.id %}"><img class='Icon-Sty' src="\media\Icons\Edit-Icon.png"></a>
                                        </div>
                                        <div class='col-lg-1 col-md-2 col-sm-2 col-2'>
                                            <a href="{% url 'resumes:ExpDeleteSkillDetails' sddet.id %}"><img class='Icon-Sty' src="\media\Icons\Delete-Icon.png"></a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div id='Link-List-Menu' class='col-lg-4 col-md-5 col-sm-12'>
                    <div class='row-sty'>
                        <div class='Link-Menu'>
                            <div class="Vertical-Menu">
                                <a href="{% url 'resumes:Exp-ContactDetails' %}" class='a-sty'>Contact Details</a>
                                <a href="{% url 'resumes:Exp-PersonalDetails' %}" class='a-sty'>Personal Details</a>
                                <a href="{% url 'resumes:Exp-SocialMediaDetails' %}" class='a-sty'>SocialMedia Details</a>
                                <a href="{% url 'resumes:Exp-EducationDetails' %}" class='a-sty'>Education Details</a>
                                <a href="{% url 'resumes:Exp-LanguageDetails' %}" class='a-sty'>Language Details</a>
                                <a href="{% url 'resumes:Exp-SkillDetails' %}" class='active a-sty'>Skill Details</a>
                                <a href="{% url 'resumes:Exp-SoftSkillDetails' %}" class='a-sty'>SoftSkill Details</a>
                                <a href="{% url 'resumes:Exp-StrengthWeakness' %}" class='a-sty'>Strength Weakness Details</a>
                                <a href="{% url 'resumes:Exp-HobbieDetails' %}" class='a-sty'>Hobbie Details</a>
                                <a href="{% url 'resumes:Exp-ActivityAchievements' %}" class='a-sty'>AwardAchievement Details</a>
                                <a href="{% url 'resumes:Exp-ExperienceDetails' %}" class='a-sty'>Experience Details</a>
                                <a href="{% url 'resumes:Exp-InternshipDetails' %}" class='a-sty'>Internship Details</a>
                                <a href="{% url 'resumes:Exp-ProjectDetails' %}" class='a-sty'>Project Details</a>
                                <a href="{% url 'resumes:Exp-InterestDetails' %}" class='a-sty'>Interest Details</a>
                                <a href="{% url 'resumes:Exp-TrainingDetails' %}" class='a-sty'>Training Details</a>
                                <a href="{% url 'resumes:Exp-CertificationDetails' %}" class='a-sty'>Certification Details</a>
                                <a href="{% url 'resumes:Exp-SummaryDetails' %}" class='a-sty'>Summary Details</a>
                            </div>
                        </div>
                        <div class='Button-Menu'>
                            <div class='Op-Btn'>
                                <button id='Open-Btn' onclick="OpenFunc()" class='btn btn-primary'><i class="fax fa fa-arrow-down"></i></button></div>
                            <div class='Cls-Btn'>
                                <button id='Close-Btn' onclick='CloseFunc()' class='btn btn-primary'><i class="fax fa fa-arrow-up"></i></button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='Btn-Position'>
                <div class='Btn-Left'><a href="{% url 'resumes:AddExpSkills' %}"><button class='btn btn-primary btn-sty btn-l'>REFRESH</button></a></div>
                <div class='Btn-Right'><a href="{% url 'resumes:Exp-SoftSkillDetails' %}"><button class='btn btn-primary btn-sty btn-r'>NEXT DETAILS</button></a></div>
            </div>
        </div>
    </div>
    {% include 'resumes/AllTemplates/Footer.html' %}
</body>
<script>
    function OpenFunc() {
        var i, j;
        var ele = document.getElementsByClassName('a-sty');
        for (i = 0; i < ele.length; i++) {
            ele[i].style.display = "block";
        }
        document.getElementById('Close-Btn').style.display = 'block';
        document.getElementById('Open-Btn').style.display = 'none';
    }

    function CloseFunc() {
        var i, j;
        var clele = document.getElementsByClassName('a-sty');
        for (i = 0; i < clele.length; i++) {
            if (clele[i].classList.contains('active')) {
                clele[i].style.display = 'block';
            } else {
                clele[i].style.display = 'none';
            }
        }
        document.getElementById('Open-Btn').style.display = 'block';
        document.getElementById('Close-Btn').style.display = 'none';
    }

    function myFunction(x) {
        var i, j;
        if (x.matches) {
            var clele = document.getElementsByClassName('a-sty');
            for (i = 0; i < clele.length; i++) {
                clele[i].style.display = "block";
            }
            document.getElementById('Open-Btn').style.display = 'none';
            document.getElementById('Close-Btn').style.display = 'none';
        } else {
            var clele = document.getElementsByClassName('a-sty');
            for (i = 0; i < clele.length; i++) {
                if (clele[i].classList.contains('active')) {
                    clele[i].style.display = 'block';
                } else {
                    clele[i].style.display = 'none';
                }
            }
            document.getElementById('Open-Btn').style.display = 'block';
            document.getElementById('Close-Btn').style.display = 'none';
        }
    }
    var x = window.matchMedia("(min-width: 768px)")
    myFunction(x)
    x.addListener(myFunction)
</script>

</html>